<p id="notice"><%= notice %></p>

<%= form_tag incidents_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :service_impact => nil %>
  </p>
<% end %>

<h1>Listing Incidents</h1>
<%= will_paginate @incidents %>
<table>
  <thead>
    <tr>
      <th>Update number</th>
      <th>Priority</th>
      <th>Resolved</th>
      <th>Incident number</th>
      <th>Actual start date and time</th>
      <th>Recorded start date and time</th>
      <th>Resolved date and time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.update_number %></td>
        <td><%= incident.priority %></td>
        <td><%= incident.resolved %></td>
        <td><%= incident.incident_number %></td>
        <td><%= incident.actual_start_date_and_time %></td>
        <td><%= incident.recorded_start_date_and_time %></td>
        <td><%= incident.resolved_date_and_time %></td>
        <td><%= link_to 'Show', incident, class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @incidents %>
<br>

<%= link_to 'New Incident', new_incident_path, class: "btn btn-sm btn-primary" %>
