<p id="notice"><%= notice %></p>

<div class="show_inot">
  <p>
    <strong>From:</strong>
    <%= @incident.from %>
  </p>
  
  <p>
    <strong>To:</strong>
    <%= @incident.to %>
  </p>
  
  <p>
    <strong>Subject:</strong>
    <% update_status = "" %>
    <% update_status_french = "" %>
    <% if @incident.update_number == '0' %>
      <% update_status = 'Initial' %>
      <% update_status_french = 'Initiale' %>
    <% elsif @incident.update_number == 'Final' %>
      <% update_status = @incident.update_number %>
      <% update_status_french = 'Finale' %>
    <% else %>
      <% update_status = 'Update #' + @incident.update_number %>
      <% update_status_french = 'Mise-à-jour #' + @incident.update_number %>
    <% end %>

    <% subject_affected = "" %>
    <% subject_affected_french = "" %>
    <% if @incident.affected_departments.split("\n").length > 1 %>
      <% subject_affected = 'Multiple departments affected' %>
      <% subject_affected_french = 'Plusieurs ministères affectés' %>
    <% else %>
      <% subject_affected = @incident.affected_departments %>
      <% subject_affected_french = @incident.affected_departments_french %>
    <% end %>

    <% subject_impact = "" %>
    <% subject_impact_french = "" %>
    <% if @incident.service_impact.split("\n").length > 1 %>
      <% subject_impact = 'Multiple services impacted' %>
      <% subject_impact_french = 'Plusieurs services affectés' %>
    <% else %>
      <% subject_impact = @incident.service_impact %>
      <% subject_impact_french = @incident.service_impact_french %>
    <% end %>

    INOT - <%= @incident.priority %> Priority - <%= update_status %> - 
    <%= subject_affected %> - <%= subject_impact %> /
    AI - Priorité <%= t(@incident.priority.to_sym) %> - <%= update_status_french %> - 
    <%= subject_affected_french %> - <%= subject_impact_french %>
  </p>
  
  <img src="/assets/sscheader.png">
  <p style="color:blue; font-style:italic">Le français suit l'anglais.</p>
  
  <% if !@incident.resolved? %>
    <h3 style="color:red; text-align:center">
      <strong>Outage Alert</strong><br>
      <strong><%= @incident.priority + ' Priority' %></strong><br>
    </h3>
  <% else %>
    <h3 style="color:green; text-align:center">
      <strong>Resolution Alert</strong><br>
      <strong><%= @incident.priority + ' Priority' %></strong><br>
    </h3>
  <% end %> 
  
  <% @incident.attributes.each do |attr_name, attr_value| %>
  
    <% if !@incident.resolved? && ['id', 'from', 'to', 'update_number','priority', 'resolved', 'resolution', 
      'resolved_date_and_time','created_at', 'updated_at'].exclude?(attr_name)  %>
      <p style="color:red; text-decoration: underline">
        <strong><%= attr_name.humanize + ':' %></strong>
      </p>
      <% if ['affected_departments', 'service_impact', 'responsible_service_support_resource_group', 
              'incident_responsibility'].include?(attr_name) %>
        <%= simple_format(attr_value) %><br>
      <% elsif attr_name == 'status' %>
        <%= simple_format(@incident.interpolated_status) %><br>
      <% else %>
        <%= attr_value %><br><br>
      <% end %>
    <% elsif @incident.resolved? && ['id', 'from', 'to', 'to2', 'to3', 'to4','to5', 'update_number', 'priority', 
      'resolved', 'status', 'created_at', 'updated_at'].exclude?(attr_name) %>
      <p style="color:green; text-decoration: underline">
        <strong><%= attr_name.humanize + ':' %></strong>
      </p>
      <% if ['affected_departments', 'service_impact', 'responsible_service_support_resource_group', 
              'incident_responsibility'].include?(attr_name) %>
        <%= simple_format(attr_value) %><br>
      <% elsif attr_name == 'resolution' %>
        <%= simple_format(@incident.interpolated_resolution) %><br>
      <% else %>
        <%= attr_value %><br><br>
      <% end %>
    <% end %>
  <% end %>
  
  <br>
  
  <% if !@incident.resolved? %>
    <h3 style="color:red; text-align:center">
      <strong>Avertissement de panne</strong><br>
      <strong><%= 'Priorité ' + t(@incident.priority.to_sym) %></strong><br>
    </h3>
  <% else %>
    <h3 style="color:green; text-align:center">
      <strong>Avertissement de résolution</strong><br>
      <strong><%= 'Priorité ' + t(@incident.priority.to_sym) %></strong><br>
    </h3>
  <% end %> 
  
  <% @incident.attributes.each do |attr_name, attr_value| %>
  
    <% if !@incident.resolved? && ['id', 'from', 'to','update_number', 'priority', 'resolved', 'resolution', 
      'resolved_date_and_time', 'created_at', 'updated_at'].exclude?(attr_name)  %>
      <p style="color:red; text-decoration: underline">
        <strong><%= t(attr_name.to_sym) + ':'  %></strong>
      </p>
      <% if attr_name == 'affected_departments' %>
        <%= simple_format(@incident.affected_departments_french) %><br>
      <% elsif attr_name == 'service_impact' %>
        <%= simple_format(@incident.service_impact_french) %><br>
      <% elsif attr_name == 'responsible_service_support_resource_group' %>
        <%= simple_format(@incident.responsible_service_support_resource_group_french) %><br>
      <% elsif attr_name == 'incident_responsibility' %>
        <%= simple_format(@incident.incident_responsibility_french) %><br>
      <% elsif attr_name == 'status' %>
        <%= simple_format(@incident.interpolated_status_french) %><br>
      <% else %>
        <%= attr_value %><br><br>
      <% end %>
    <% elsif @incident.resolved? && ['id', 'from', 'to', 'update_number', 'priority', 'resolved', 'status', 
      'created_at', 'updated_at'].exclude?(attr_name) %>
      <p style="color:green; text-decoration: underline">
        <strong><%= t(attr_name.to_sym) + ':'  %></strong>
      </p>
      <% if attr_name == 'affected_departments' %>
        <%= simple_format(@incident.affected_departments_french) %><br>
      <% elsif attr_name == 'service_impact' %>
        <%= simple_format(@incident.service_impact_french) %><br>
      <% elsif attr_name == 'responsible_service_support_resource_group' %>
        <%= simple_format(@incident.responsible_service_support_resource_group_french) %><br>
      <% elsif attr_name == 'incident_responsibility' %>
         <%= simple_format(@incident.incident_responsibility_french) %><br>
      <% elsif attr_name == 'status' %>
        <%= simple_format(@incident.interpolated_status_french) %><br>
      <% else %>
        <%= attr_value %><br><br>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
