<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @incident.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @incident.to %>
</p>

<p>
  <strong>Update number:</strong>
  <%= @incident.update_number %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @incident.priority %>
</p>

<p>
  <strong>Affected departments:</strong>
  <%= @incident.affected_departments %>
</p>

<p>
  <strong>Service impact:</strong>
  <%= @incident.service_impact %>
</p>

<p>
  <strong>Responsible service support resource group:</strong>
  <%= @incident.responsible_service_support_resource_group %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @incident.resolved %>
</p>

<p>
  <strong>Status:</strong>
  <%= @incident.status %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @incident.resolution %>
</p>

<p>
  <strong>Incident number:</strong>
  <%= @incident.incident_number %>
</p>

<p>
  <strong>Actual start date and time:</strong>
  <%= @incident.actual_start_date_and_time %>
</p>

<p>
  <strong>Recorded start date and time:</strong>
  <%= @incident.recorded_start_date_and_time %>
</p>

<p>
  <strong>Incident responsibility:</strong>
  <%= @incident.incident_responsibility %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
