<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Easy INOT", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Start", root_path %></li>
        <li><%= link_to "INOTs", incidents_path %></li>
        <li><%= link_to "Emails", mailing_lists_path %></li>
        <li><%= link_to "Departments", departments_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "Applications", applications_path %></li>
        <li><%= link_to "Sites", sites_path %></li>
      </ul>
    </nav>
  </div>
</header>