<p id="notice"><%= notice %></p>

<p>
  <strong>English name:</strong>
  <%= @department.english_name %>
</p>

<p>
  <strong>French name:</strong>
  <%= @department.french_name %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
