<p id="notice"><%= notice %></p>

<h1>Listing Sites</h1>
<%= will_paginate @sites %>
<table>
  <thead>
    <tr>
      <th>Site code</th>
      <th>English name</th>
      <th>French name</th>
      <th>Designated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.site_code %></td>
        <td><%= site.english_name %></td>
        <td><%= site.french_name %></td>
        <td><%= site.designated %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @sites %>
<br>

<%= link_to 'New Site', new_site_path %>
